#my folders
bin
lib
code
Desktop
Dropbox
Downloads
Pictures
Podcasts
tmp
VirtualBox VMs

#binaries
*.elc

#config folders
.android
.ICEauthority
.Skype
.VirtualBox
.adobe
.cabal
.conkeror.mozdev.org/
.cache
.compiz
.config
.darcs/
.dbus
.dropbox-dist
.dropbox
.eclipse
.eshell/
.evolution/
.ivy2
.filezilla
.fontconfig
.gconf
.gconfd
.ghc
.gnupg
.gnome2
.gstreamer-0.10
.gtkpod
.hplip
.icedteaplugin
.ipython
.local
.macromedia
.mission-control/
.mozilla
.mysqlgui
.netx
.nv
.openoffice.org
.opera
.pki
.pulse
.pySopCast
.recoll
.sane
.ssh
.thumbnails
.update-notifier
.xmonad/cabal-dev
.xchat2

#files
.bash*
.calc_history
.conkerorrc.private.js
.dmenu_cache
.dmrc
.esd_auth
.gksu.lock
.gtk-bookmarks
.nvidia-settings-rc
.printer-groups.xml
.profile
.pulse-cookie
.recently-used.xbel
.scala_history
.sudo_as_admin_successful
.usbcreator.log
.xmonad/history
.xsession-errors*
.zcompdump
.zsh_history*
examples.desktop

#emacs
\#*#
.#*
*\~
.emacs.d/session*
.emacs.d/.org-id-locations

#xmonad
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
