#my folders
bin
code
Dropbox
Downloads
Pictures
tmp

#config folders
.ICEauthority
.Skype
.VirtualBox
.adobe
.cabal
.cache
.compiz
.config
.dbus
.dropbox-dist
.dropbox
.ivy2
.fontconfig
.gconf
.gconfd
.ghc
.gnome2
.gstreamer-0.10
.local
.macromedia
.mozilla
.mysqlgui
.netx
.opera
.pki
.pulse
.ssh
.thumbnails
.update-notifier
.xchat2

#files
.bash*
.dmenu_cache
.esd_auth
.gksu.lock
.gtk-bookmarks
.nvidia-settings-rc
.profile
.pulse-cookie
.recently-used.xbel
.sudo_as_admin_successful
.xsession-errors*

examples.desktop

#emacs
\#*#
*\~
.emacs.d/session*

#xmonad
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
